<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253847803637-nq9cor76ll6dtdle1thmv5g6lpuho55t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253847803637-nq9cor76ll6dtdle1thmv5g6lpuho55t</string>
	<key>API_KEY</key>
	<string>AIzaSyBSGdUU3e4tLtuhih9H1LIQTq82FbWmsUI</string>
	<key>GCM_SENDER_ID</key>
	<string>253847803637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enescerrahoglu.quickchat</string>
	<key>PROJECT_ID</key>
	<string>quickchat-application</string>
	<key>STORAGE_BUCKET</key>
	<string>quickchat-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253847803637:ios:688e10aecb1a483ee197bc</string>
</dict>
</plist>